@model IEnumerable<Cinemaxx.fileira>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sala1.indentificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indentificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cadeiras_de)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cadeiras_ate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pne_de)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pne_ate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sala1.indentificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indentificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cadeiras_de)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cadeiras_ate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pne_de)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pne_ate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
