@model Cinemaxx.filme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idioma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.legenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.legenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.novo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.novo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
