@page
@model Cinemaxx.Pages.Usuario.IndexModel
@{
}
<li class="nav-item">
	<a class='btn btn-primary btn-sm' class="nav-link text-dark" asp-area="" asp-page="/Ingresso/Index">Comprar Ingressos</a>
</li>
<br>
<h2> Cadastro</h2>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>E-mail</th>
			<th>Senha</th>
			<th>Confirmar Senha</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.listUsuarioInfo)
		{
			 <tr>
				<td>@item.id</td>
				<td>@item.nome/td>
				<td>@item.email</td>
				<td>@item.senha</td>
				<td>@item.confirmarSenha</td>
				<td>
					<a class='btn btn-primary btn-sm' href="/Usuario/Edid?id=@*item.id*@">Editar</a>
					<a class='btn btn-danger btn-sm' href="/Usuario/Delete?id=@*item.id*@">Deletar</a>
				</td>
			 </tr>
			}
	</tbody>
</table>

