@model Cinemaxx.sala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.indentificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indentificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade_cadeiras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade_cadeiras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_sala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd_p_pne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd_p_pne)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
