@page
@model Cinemaxx.Pages.UsuarioAdm.IndexAdmModel
@{
}

<br>
<h2> Cadastro Administrador</h2>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>E-mail</th>
			<th>Senha</th>
			<th>Confirmar Senha</th>
		</tr>
	</thead>
	<tbody>
		@*@foreach (var item in Model.listUsuario)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.nome/td>
				<td>@item.email</td>
				<td>@item.senha</td>
				<td>@item.Confirmarsenha</td>*@
			<td>
			<a class='bnt bntalert-primary bnt-sm' href="/UsuarioAdm/Edid?id=@*item.id*@">Editar</a>
			<a class='bnt bntalert-primary bnt-sm' href="/UsuarioAdm/Delete?id=@*item.id*@">Deletar</a>
			</td>
		</tr>
		}
	</tbody>
</table>