@model Cinemaxx.pagamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pagamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ingresso1.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingresso1.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_filme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_filme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodo_pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodo_pagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
